<nav class="sticky">
    <form class="inputs" id="search" [formGroup]="checkForm">
        <h1>My 4Portal</h1>
        <input class="searhcMe" type="text" name="search" placeholder="search" formControlName="fcSearch" />
        <button class="button1" (click)="display()"><h2>BACK</h2></button>
        <button type="submit" class="button2" [disabled]="!checkForm.valid" [formGroup]="checkForm" (click)="getIDAndTerm()"><h2>SEARCH</h2></button>
        <button class="button3" (click)="nav('login')"><h2>Logout</h2></button>
    </form>
</nav>

<div class="mainContent">
    <div class="container">
        <table class="content-table">
            <thead *ngIf="showHeader">
                <tr>
                    <th>No</th>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>User Age</th>
                    <th>User Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <ng-container *ngIf="showAll; then all; else idd">
                </ng-container>
                <ng-container *ngIf="showEdit; then edit">
                </ng-container>

                <ng-template #all>
                    <tr *ngFor="let user of users; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.email }}</td>
                        <td><button class="deleteButton" (click)="deleteUser(i)">DELETE</button>
                            <button class="editButton" (click)="patchUser(i)">EDIT</button>
                        </td>
                        <br><br>
                    </tr>
                </ng-template>

                <ng-template #idd>

                    <tr *ngIf="showId">
                        <td>{{ 1 }}</td>
                        <td>{{requestResult.id}}</td>

                        <td>{{requestResult.name }}</td>

                        <td>{{requestResult.age}}</td>
                        <td>{{requestResult.email}}</td>
                        <td><button class="deleteButton" (click)="deleteUser(0)">DELETE</button>
                            <button class="editButton" (click)="patchUser(0)">EDIT</button>
                        </td>
                        <br><br>
                    </tr>
                </ng-template>

                <ng-template #edit>
                    <div class="register">
                        <form class="inputss" id="login" method="get" action="login.php" [formGroup]="editForm" (ngSubmit)="onSubmit()">
                            <label class="label1"><b>Name<br /> </b>
                  </label>
                            <input class="input1" type="!name" name="name" id="name" placeholder={{requestResult.name}} formControlName="fcName" />
                            <label class="label1"><b>Age<br /> </b>
                  </label>
                            <input class="input1" type="number" name="Age1" id="Age1" placeholder={{requestResult.age}} formControlName="fcAge" />
                            <label class="label1"><b>Email<br /> </b>
                  </label>
                            <input class="input1" type="email" name="email1" id="email1" placeholder={{requestResult.email}} formControlName="fcEmail" />
                            <br /><br />
                            <button class="confirmButton" type="submit" id="createAcc" (click)="patchUserConfirm()">
                    Confirm Edit</button
                  ><br /><br />
                </form>
    </div>
    </ng-template>
    </tbody>
    </table>
</div>
</div>